# Dependencies
# Keep node_modules out of the repository, as they are installed via package.json
/node_modules

# Environment
# Keep environment variables out of the repository for security.
.env

# Logs
# Logs are machine-specific and should not be committed.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional - IDE specific files
.vscode/
.idea/ 